@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Register Patient";
    var error = string.Empty;
    if (HttpContextAccessor.HttpContext.Request.Query.TryGetValue("error", out var errorString))
    {
        error = errorString.ToString();
    }
}


<div class="row container-fluid mt-5">
    @if (!string.IsNullOrWhiteSpace(error))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>An error occured!</strong> @error
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>
<div class="row">
    <div class="container">
        <form id="registerForm" action="/registerPatient" method="post">
            <h2>Register as a patient.</h2>
            <hr/>
            <div class="form-floating mb-3">
                <input type="text" id="name" name="name" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label for="name">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="address" name="address" class="form-control" aria-required="true"/>
                <label for="address">Address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" id="birthdate" name="birthdate" class="form-control" aria-required="true"/>
                <label for="birthdate">Birthdate</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" id="email" name="email" class="form-control" aria-required="true"/>
                <label for="email">Email</label>
            </div>
            <div class="row mb-3">
                <label class="me-2 form-label">Gender</label>
                <div class="d-flex flex-row">
                    <div class="form-check me-2">
                        <input class="form-check-input" type="radio" id="maleg" name="gender" value="male">
                        <label for="maleg" class="form-check-label">Male</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="femaleg" name="gender" value="female">
                        <label for="femaleg" class="form-check-label">Female</label>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input maxlength="11" type="text" pattern="\d*" id="cellphoneNumber" name="cellphoneNumber" class="form-control" aria-required="true"/>
                <label for="cellphoneNumber">Cellphone Number</label>
            </div>
            
            <div class="form-floating mb-3">
                <input type="text" id="referer" name="referer" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label for="referer">Doctor Name (Optional)</label>
            </div>
            
            <div class="mb-3 form-check">
                <input type="checkbox" id="tos-check" class="form-check-input" aria-required="true"/>
                <label for="tos-check" class="form-check-label">I agree to the <a href="/tos">terms and services</a>.</label>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" id="senior" class=" form-check-input" aria-required="true"/>
                <label for="senior" class="form-check-label">I am a Senior Citizen or PWD.</label>
            </div>
            @* <div class="form-floating mb-3"> *@
            @*     <input type="text" id="guardian" name="guardian" class="form-control" aria-required="true"/> *@
            @*     <label for="guardian">Guardian</label> *@
            @* </div> *@
            <div class="form-floating mb-3">
                <input type="password" id="password" name="password" class="form-control" aria-required="true"/>
                <label for="password">Password</label>
            </div>

            <button onclick="if (!document.getElementById('tos-check').checked) { alert('You need to agree to terms and conditions first!'); return false;}" id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary"><i class="bi bi-box-arrow-right"></i> Register</button>
        </form>
        <div class="container-fluid row mt-2">
            <p class="opacity-50 fst-italic">
                Need assistance? Please call Comembo Care On-Call at 6388-8777 or email us at Comembocare@gmail.com
                
            </p>
        </div>
    </div>
</div>