@using Microsoft.AspNetCore.Identity
@using System.Linq;
@model List<dynamic> 
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";

}

<div class="container-fluid">

    <div class="container-fluid row m-4">
        <h1 class="text-center">Our Services</h1>
    </div>
    <ul class="list-group bg-grey list-group-flush">

        <ul class="list-group">
            @for (char i = 'a'; i <= 'z'; i++)
            {
                var servicesThatStarts = @Model.Where(x => (x.Name as string).ToLower().StartsWith(i));

                if (servicesThatStarts.Any())
                {
                    <li class="list-group-item text-light bg-primary">@i.ToString().ToUpper()</li>
                    @foreach (var item in servicesThatStarts)
                    {
                        <li class="list-group-item">
                            <a class="text-dark text-decoration-none" href="/services/view/@item.Name">@item.Name</a>
                        </li>
                    }
                }
            }
        </ul>
    </ul>

</div>